:root {
  --color-black: #000000;
  --color-green: #485c11;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 26px 40px 0px 40px;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-logo {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-weight: 500; /* Medium */
  line-height: 120%;
  letter-spacing: -0.05em; /* -5% */
  text-align: left;
}

.header-links {
  display: flex;
  gap: 27px;

  position: fixed;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.6); /* شفاف */
  backdrop-filter: blur(12px);
  z-index: 1000;
}
.header-links a {
  text-decoration: none;
  color: var(--color-black);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 140%;
  cursor: pointer;
}

.header-btn {
  background-color: var(--color-green);
  color: var(--color-white);
  width: 127px;
  height: 48px;
  border-radius: 1000px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 140%;
  cursor: pointer;
  position: relative;
}
.arrow {
  display: inline-block; /* Crucial for transform to work */
  transform: rotate(45deg);
  font-size: 10px;
  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
}
.text-btn {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 140%;
}
.main-title {
  font-family: "Crimson Text", sans-serif;
  font-size: 160px;
  font-weight: 400;
  text-align: center;
}
.main-img {
  position: relative;
  width: 100%;
  height: 500px; /* مهم جدًا */
}

.main-img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  bottom: 0px;
}

.main-background {
  background-color: #8e9c78;
  width: 1200px;
  height: 362px;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.small-menu {
  display: none;
}
@media (max-width: 500px) {
  .main-title {
    font-size: 50px;
    font-weight: 100;
  }
  .main-img img {
    width: 300px;
  }
  .main-background {
    width: 100%;
    height: 100px;
  }

  .main-img {
    height: 200px; /* مهم جدًا */
  }
  .header-links,
  .learnmore-btn {
    display: none;
  }
  .small-menu {
    display: block;
  }
}

.trust {
  font-family: "Crimson Text", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  color: rgb(111, 111, 111);
}

.logotrusted {
  display: flex;
  /* row-gap: 10px;
  column-gap: 40px; */
  margin-top: 30px;
  flex-wrap: wrap;
}

.logotrusted div {
  width: 154px;
  height: 84px;
  margin-left: 40px;
}

.logotrusted div:nth-child(1) {
}

.trusted-section {
  border-bottom: 1px solid rgb(155, 154, 154);
}
.Benefits-section {
  margin-top: 80px;
}
.Benefits-txt {
  color: #485c11;
}

.Benefits-desc {
  font-family: "Crimson Text", serif; /* */
  font-weight: 400; /* Regular */
  font-size: 60px; /* */
  line-height: 0.9; /* 90% */
  letter-spacing: -0.03em; /* -3% */
  margin-top: 50px;
}
.Benefits-desc2 {
  font-family: "Crimson Text", serif; /* */
  font-weight: 400; /* Regular */
  font-size: 15px; /* */
  line-height: 1.4; /* 90% */

  margin-top: 50px;
  color: #6f6f6f;
}

.Benefits-list {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 285px;
  height: 250px;
  /* background-color: #8e9c78; */
  padding-top: 40px;
  border-top: 1px solid #d4d4d4;
}
.card-title {
  margin-top: 24px;
  margin-bottom: 20px;

  font-family: "Crimson Text", serif; /* */
  font-weight: 400; /* Regular */
  font-size: 18px; /* */
  line-height: 1; /* 90% */
}
.card-desc {
  margin-top: 20px;
  color: #6f6f6f;
  font-family: "Crimson Text", serif; /* */
  font-weight: 400; /* Regular */
  font-size: 15px; /* */
  line-height: 1.4; /* 90% */
}

.small-menu {
  position: relative; /* مهم جدًا عشان small-menu يبقى absolute بالنسبة له */
  /* display: inline-block; */
  cursor: pointer;
}
.small-menu:hover .small-menu-content {
  display: block;
}
.small-menu-content {
  display: none; /* مخفي في البداية */
  position: absolute;
  top: 100%; /* تحت الأيقونة مباشرة */
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  min-width: 150px;
  z-index: 100;
}
.small-menu-content a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  background-color: #c9c3c3;
  color: white;
}
.small-menu-content a:hover {
  background-color: #f0f0f0;
  color: black;
}
